{% extends "header.html" %}
{% block title %}关于我们{% endblock %}
{% block content %}
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						小组成员信息
					</div>
				</div>
				<table class="table table-striped">
					<tr>
						<th>姓名</th>
						<th>学号</th>
					</tr>
					<tr>
						<td>蔡树鹏</td>
						<td>1233007</td>
					</tr>
					<tr>
						<td>曹志军</td>
						<td>1233010</td>
					</tr>
					<tr>
						<td>陈海翔</td>
						<td>1233015</td>
					</tr>
					<tr>
						<td>陈坚生</td>
						<td></td>
					</tr>		
					<tr>
						<td>黄伟鹏</td>
						<td></td>
					</tr>		
				
				</table>
			</div>
		</div>
{% endblock %}