<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="\static\bootstrap-3.0.3-dist\dist\css\bootstrap.min.css">
		<link rel="stylesheet" href="\static\css\general.css">
	</head>
	<body>
	<nav role="navigation" class="navbar navbar-default" role="navigation">
		<a class="navbar-brand" href="/">我查</a>
		<div class="collapse navbar-collapse">
			<ul id="navList" class="nav navbar-nav">
				<li><a href="/">首页</a></li>
				<li><a href="/personal/">个人主页</a></li>
				<li><a href="/about/">关于我们</a></li>
			</ul>
			{% if not user_id %}
			<a href="/login/"><button class="btn btn-primary navbar-btn navbar-right signin" id="link">登陆</button></a>
			{% else %}
			<a href="/logout/"><button class="btn btn-primary navbar-btn navbar-right signin" id="link">退出<span class="glyphicon glyphicon-log-in"></span></button></a>
			{% endif %}
		</div>
	</nav>
	
	<div class="container">
    {% block content %} {% endblock %}
	</div>
	<!--登陆 -->
	<script src="\static\bootstrap-3.0.3-dist\dist\js\jquery-1.11.1.min.js"></script>
	<script src="\static\bootstrap-3.0.3-dist\dist\js\bootstrap.min.js"></script>
	<script src="\static\js\general.js"></script>
	</body>
</html>